body {
    font-family: 'Overpass', sans-serif;
    background-color: hsl(216, 12%, 8%);
    color: hsl(0, 0%, 100%);
    text-align: center;
    height: 100vh;
    display: grid;
    place-items: center;
    margin: 0 3px;
}

.card {
    background-color: hsl(213, 19%, 18%);
    width: 70%;
    margin: auto;
    text-align: justify;
    padding: 50px;
    border: none;
    border-radius: 35px;
}

.star-img-div {
    background-color: hsl(218, 16%, 24%);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    display: grid;
    place-items: center;
    margin-bottom: 40px;
}

.star-icon {
    width: 35px;
    background-color: hsl(218, 16%, 24%);
    
}

h1 {
    font-size: 4rem;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: hsl(217, 12%, 63%);
    text-align: left;
}

.rating-btn {
    display: flex;
    justify-content: space-between;
}

.rating-btn button {
    background-color:hsl(218, 16%, 24%);
    width: 100px;
    border: none;
    border-radius: 50px;
    margin-top: 60px;

    padding: 25px;
    color: hsl(217, 12%, 63%);
    font-size: 3rem;
}

.rating-btn button:focus {
    background-color: hsl(25, 97%, 53%);
    color: white;
}

.submit-btn {
    background-color: hsl(25, 97%, 53%);
    width: 100%;
    padding: 40px;
    margin-top: 70px;
    margin-bottom: 35px;
    border: none;
    border-radius: 60px;

    font-size: 2.2rem;
    color: white;
    font-weight: 700;
}

.submit-btn:active {
    background-color: hsl(25, 95%, 43%);
}

@media only screen and (min-width: 992px) {
    body {
        margin: 0 450px;
    }
    
    .card {
        padding: 25px;
    }

    .star-img-div {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        margin-bottom: 40px;
    }
    
    img {
        width: 20px;
    }

    h1 {
        font-size: 2rem;
    }
    
    p {
        font-size: 0.8rem;
        line-height: 1.6;
    }

    
    .rating-btn button {
        width: 50px;
        border-radius: 25px;
        margin-top: 30px;

        padding: 18px;
        font-size: 1rem;
    }
    
    .submit-btn {
        padding: 12px 8px;
        margin-top: 40px;
        margin-bottom: 20px;
    
        font-size: 1rem;
    }
}