/*
body {
    font-family: 'Overpass', sans-serif;
    background-color: hsl(216, 12%, 8%);
    color: hsl(0, 0%, 100%);
    text-align: center;
    height: 100vh;
    display: grid;
    place-items: center;
    margin: 0 3px;
}

.card {
    background-color: hsl(213, 19%, 18%);
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 50px;
    border: none;
    border-radius: 35px;
}

.thankyou-img {
    width: 350px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.rate-el-div {
    background-color: hsl(218, 16%, 24%);
    width: 350px;
    margin: auto;
    border: none;
    border-radius: 40px;
    padding: 1px 105px;
    margin-bottom: 50px;
}

#rate-el {
    font-size: 2rem;
    color: #b36f35;
    font-weight: 700;
}

h1 {
    font-size: 4rem;
    margin-bottom: 50px;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: hsl(217, 12%, 63%);
    margin-bottom: 20px;
}

@media only screen and (min-width: 992px) {
    body {
        margin: 0 450px;
    }
    
    .card {
        padding: 25px;
    }

    .rate-el-div {
       
        width: 180px;
        border-radius: 40px;
        padding: 1px 25px;
        margin-bottom: 30px;
    }
    
    #rate-el {
        font-size: 1rem;
        color: #b36f35;
        font-weight: 700;
    }
    
    .thankyou-img {
        width: 150px;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    h1 {
        font-size: 2rem;
        margin-bottom: 30px;
    }
    
    p {
        font-size: 0.8rem;
        line-height: 1.6;
    }

}