body {
    font-family: 'Overpass', sans-serif;
    background-color: hsl(216, 12%, 8%);
    color: hsl(0, 0%, 100%);
    text-align: center;
    height: 100vh;
    display: grid;
    place-items: center;
    margin: 0 3px;
}

.card {
    background-color: hsl(213, 19%, 18%);
    width: 80%;
    margin: auto;
    text-align: justify;
    padding: 50px;
    border: none;
    border-radius: 35px;
}

.star-img-div {
    background-color: hsl(218, 16%, 24%);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    display: grid;
    place-items: center;
    margin-bottom: 40px;
}

img {
    width: 35px;
    background-color: hsl(218, 16%, 24%);
    
}

h1 {
    font-size: 4rem;
}

p {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5;
    color: hsl(217, 12%, 63%);
    text-align: left;
}

.rating-btn {
    display: flex;
    justify-content: space-between;
}

.rating-btn button {
    background-color:hsl(218, 16%, 24%);
    width: 100px;
    border: none;
    border-radius: 50px;
    margin-top: 40px;

    padding: 25px;
    color: hsl(217, 12%, 63%);
    font-size: 3rem;
}

.submit-btn {
    background-color: hsl(25, 97%, 53%);
    width: 100%;
    padding: 40px;
    margin-top: 60px;
    margin-bottom: 35px;
    border: none;
    border-radius: 60px;

    font-size: 2.2rem;
    color: white;
    font-weight: 700;
    font-family: 'Overpass', sans-serif;
}